<style>
    :root {
        --base-font-family: "Lato", var(--sys-font-family), var(--zh-font-family);
        --article-font-family: "Noto Serif SC", var(--base-font-family);
        --article-font-size: 1.6rem
    }

    .article-content {
        letter-spacing: .8px
    }

    .article-content pre, .article-content code {
        font-size: 1.5rem
    }
</style>

<script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap";

        customFont.type = "text/css";
        customFont.rel = "stylesheet";

        document.head.appendChild(customFont);
    }());
</script>